# Data and numerical processing
numpy==1.26.4
pandas
scikit-learn==1.4.2
ml-dtypes

# Time series & forecasting
statsmodels
prophet

# Model serialization
joblib

# Experiment tracking
mlflow==3.4.0
comet-ml==3.54.2
wandb

# Web app
Flask
fastapi==0.119.0
uvicorn==0.37.0

# Plotting
matplotlib

# System monitoring
psutil

# Utilities
python-dotenv
pyyaml
rich
# pywin32 - Removed for Linux deployment
pyperclip

# Networking / API
docker
authlib
anyio
h11
h
ttptools
sniffio
gunicorn
